{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록을 하겠습니다.</h5>
    <form method="post" class="post-form my-3">
        <!--<form method="post" class="post-form my-3"> 처럼 form 태그에 action 속성을 지정하지 않았다
        form 태그에는 항상 action 속성을 지정하여 submit 실행시 action에 정의된 URL로 폼을 전송해야 한다
        하지만 여기서는 특별하게 action 속성을 지정하지 않았다.
        ~~~form 태그에 action 속성을 지정하지 않으면 현재 페이지의 URL이 디폴트 action으로 설정된다~~~
        -->
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <!-- {{ form.as_p }}의 form은 question_create 함수에서 전달한 QuestionForm의 객체
        {{ form.as_p }}는 폼에 정의한 subject, content 속성에 해당하는 HTML 코드를 자동으로 생성한다.
        하지만 {{ form.as_p }} 태그는 HTML 코드를 자동으로 생성하기 때문에 부트스트랩을 적용할 수가 없다
        QuestionForm에는 현재 subject, content 속성만 정의되어 있고 create_date 속성은 없다.-->

        <!--{{form.as_p 대신 수동폼으로 교체-->

                <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장을 하기</button>
    </form>
</div>
{% endblock %}